<!DOCTYPE html>
<html>

<head>
    <title>OnePunch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>
    <div class="ui grid middle aligned centered">
        <div class="fourteen wide column">
            <h2>Just a couple of things to decide before we get going...</h2>
        </div>
        <!-- <div class="fourteen wide column">
            <h2 class="tooltip">Data Storage<span class="tooltiptext">The shared location where interactions will be logged.</span></h2>
        </div>
        <div class="twelve wide column">
            <span id="logFolderName">Choose where you'd like to save logs</span>
        </div> -->


        <div class="fourteen wide column">
            <h2 class="tooltip">Data Storage URL<span class="tooltiptext">Use the full URL endpoint</span></h2>
        </div>
        <div class="twelve wide column">
            <div class="ui input large">
                <input id="urlPicker" class="ui input large" name="userSetting" type="text" placeholder="Enter url" />
            </div>
        </div>
        <div class="fourteen wide column">
            <h2 class="tooltip">API Key<span class="tooltiptext">Match the API Key to your desk.</span></h2>
        </div>
        <div class="twelve wide column">
            <div class="ui input large">
                <input id="keyPicker" class="ui input large" name="userSetting" type="text"
                    placeholder="Enter api key" />
            </div>
        </div>
        <!--       
        Leave this to build in validation logic
        <div class="twelve wide column cloud storage" style="">
            <button id="validateBtn" class="ui primary button fluid">
            Validate and Save
            </button>
        </div>
        <input id="logPath" type="hidden" name="userSetting" value="" /> -->
        
        <div class="fourteen wide column">
            <h2 class="tooltip">HotKey<span class="tooltiptext">Only one program is allowed to use a single hotkey at
                    once. Be careful not to choose a key that's already being used elsewhere.</span></h2>
        </div>
        <div class="twelve wide column">
            <div class="field">
                <input type="radio" name="hotKey" value="F9" id="F9" class="ui radio checkbox" checked>
                <label for="F9">F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+F9" id="ctrlF9" class="ui radio checkbox">
                <label for="ctrlF9">Ctrl + F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+Alt+F9" id="ctrlAltF9" class="ui radio checkbox">
                <label for="ctrlAltF9">Ctrl + Alt + F9</label>
            </div>
            <input id="currentHotKey" type="hidden" name="userSetting" value="">
        </div>
        <div class="fourteen wide column">
            <h2 class="tooltip">Reminders<span class="tooltiptext">Reminders will show about once an hour letting you
                    know how many people your desk has helped that day. Popups are a new window in the center of the
                    screen; notifications display in the lower corner.</span></h2>
        </div>
        <div class="twelve wide column">
            <div class="field">
                <input type="radio" name="reminders" value=false id="noReminders" class="ui radio checkbox" checked>
                <label for="">None</label>
            </div>
            <div class="field">
                <input type="radio" name="reminders" value="notifications" id="notifyReminders"
                    class="ui radio checkbox">
                <label for="notifyReminders">Notifications</label>
            </div>
            <div class="field">
                <input type="radio" name="reminders" value="popups" id="popUpReminders" class="ui radio checkbox">
                <label for="ctrlAltF9">Pop-Ups</label>
            </div>
        </div>
        <div class="fourteen wide column">
            <h2 class="tooltip">Connection Status<span class="tooltiptext">This setting reduces connection error
                    warnings. Use it for desks that won't usually be connected to the network.</span></h2>
        </div>
        <div class="ui slider checkbox twelve wide column">
            <input id="assumeDisconnectedCheck" type="checkbox" name="details">
            <label>Assume No Connection</label>
        </div>
        <div class="fourteen wide column">
            <h2 class="tooltip">Alt Notifications<span class="tooltiptext">This setting enables an alternative method
                    for notification that might be needed depending on your Windows version.</span></h2>
        </div>
        <div class="ui slider checkbox twelve wide column">
            <input id="altNotifications" type="checkbox" name="details">
            <label>Enable Alt Notifications</label>
        </div>
        <!-- <div class="fourteen wide column">
            <h2 class="tooltip">Desk<span class="tooltiptext">Use the same name for all computers at the same desk.</span></h2>
        </div>
        <div class="twelve wide column">
            <div class="ui input large">
                <input id="deskPicker" class="ui input large" name="userSetting" type="text" placeholder="Enter desk name" />
            </div>
        </div> -->
        <div class="twelve wide column" style="padding: 20px 0px 5px 0px;">
            <button id="saveBtn" class="fluid ui purple button">Save</button>
        </div>
    </div>
    <script src="../settings.js"></script>
</body>

</html>